{% extends "blogapp/base.html" %}

{% block title %} <title> Room </title>{% endblock %}
{% block content %} 
<body>
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option set-bg" data-setbg="static/blogapp/img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h1>Our Room</h1>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <span>Rooms</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Rooms Section Begin -->
    <section class="rooms spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 p-0 order-lg-2 order-md-2 col-md-6">
                    <div class="room__pic__slider owl-carousel">
                        <div class="room__pic__item set-bg" data-setbg="static/blogapp/img/rooms/room-1.jpg"></div>
                        <div class="room__pic__item set-bg" data-setbg="static/blogapp/img/rooms/room-2.jpg"></div>
                        <div class="room__pic__item set-bg" data-setbg="static/blogapp/img/rooms/room-3.jpg"></div>
                        <div class="room__pic__item set-bg" data-setbg="static/blogapp/img/rooms/room-4.jpg"></div>
                    </div>
                </div>
                <div class="col-lg-6 p-0 order-lg-1 order-md-1 col-md-6">
                    <div class="room__text">
                        <h3>Single Room</h3>
                        <h2><sup>฿</sup>1500<span>/night</span></h2>
                        <ul>
                            <li><span>Size:</span>30 ft</li>
                            <li><span>Capacity:</span>One persion</li>
                            <li><span>Bed:</span>King Bed</li>
                            <li><span>Services:</span>Wifi, Television, Bathroom,...</li>
                            
                        </ul>
                      
                    </div>
                </div>
                <div class="col-lg-6 p-0 order-lg-3 order-md-3 col-md-6">
                    <div class="room__pic__slider owl-carousel">
                        <div class="room__pic__item set-bg" data-setbg="static/blogapp/img/rooms/room-2.jpg"></div>
                        <div class="room__pic__item set-bg" data-setbg="static/blogapp/img/rooms/room-3.jpg"></div>
                        <div class="room__pic__item set-bg" data-setbg="static/blogapp/img/rooms/room-4.jpg"></div>
                        <div class="room__pic__item set-bg" data-setbg="static/blogapp/img/rooms/room-1.jpg"></div>
                    </div>
                </div>

                <div class="col-lg-6 p-0 order-lg-5 order-md-5 col-md-6">
                    <div class="room__text">
                        <h3>Suite Room</h3>
                        <h2><sup>฿</sup>3000<span>/night</span></h2>
                        <ul>
                            <li><span>Size:</span>30 ft</li>
                            <li><span>Capacity:</span>Two people</li>
                            <li><span>Bed:</span>Queen-sized Bed</li>
                            <li><span>Other:</span>One guest room</li>
                            <li><span>Services:</span>Wifi, Television, Bathroom,...</li>
                        </ul>
                      
                    </div>
                </div>
                <div class="col-lg-6 p-0 order-lg-7 order-md-7 col-md-6">
                    <div class="room__pic__slider owl-carousel">
                        <div class="room__pic__item set-bg" data-setbg="static/blogapp/img/rooms/room-4.jpg"></div>
                        <div class="room__pic__item set-bg" data-setbg="static/blogapp/img/rooms/room-1.jpg"></div>
                        <div class="room__pic__item set-bg" data-setbg="static/blogapp/img/rooms/room-2.jpg"></div>
                        <div class="room__pic__item set-bg" data-setbg="static/blogapp/img/rooms/room-3.jpg"></div>
                    </div>
                </div>

                <div class="col-lg-6 p-0 order-lg-4 order-md-4 col-md-6">
                    <div class="room__text right__text">
                        <h3>Double Room</h3>
                        <h2><sup>฿</sup>2500<span>/night</span></h2>
                        <ul>
                            <li><span>Size:</span>30 ft</li>
                            <li><span>Capacity:</span>Two people</li>
                            <li><span>Bed:</span>King Bed</li>
                            <li><span>Services:</span>Wifi, Television, Bathroom,...</li>
                            
                        </ul>
                        
                    </div>
                </div>
                <div class="col-lg-6 p-0 order-lg-6 order-md-6 col-md-6">
                    <div class="room__pic__slider owl-carousel">
                        <div class="room__pic__item set-bg" data-setbg="static/blogapp/img/rooms/room-1.jpg"></div>
                        <div class="room__pic__item set-bg" data-setbg="static/blogapp/img/rooms/room-4.jpg"></div>
                        <div class="room__pic__item set-bg" data-setbg="static/blogapp/img/rooms/room-2.jpg"></div>
                        <div class="room__pic__item set-bg" data-setbg="static/blogapp/img/rooms/room-3.jpg"></div>
                    </div>
                </div>
              
                <div class="col-lg-6 p-0 order-lg-8 order-md-8 col-md-6">
                    <div class="room__text right__text">
                        <h3>Premier Room</h3>
                        <h2><sup>฿</sup>5000<span>/night</span></h2>
                        <ul>
                            <li><span>Size:</span>30 ft</li>
                            <li><span>Capacity:</span>Max persion 4</li>
                            <li><span>Bed:</span>Two King-sized Bed</li>
                            <li><span>Other:</span>One guest room</li>
                            <li><span>Services:</span>Wifi, Television, Bathroom,...</li>
                           
                        </ul>
                      
                    </div>
                </div>
            

                <div class="col-lg-6 p-0 order-lg-7 order-md-7 col-md-6">
                    <div class="room__text right__text"">
                        <h3>Deluxe Room</h3>
                        <h2><sup>฿</sup>4000<span>/night</span></h2>
                        <ul>
                            <li><span>Size:</span>30 ft</li>
                            <li><span>Capacity:</span>Max persion 3</li>
                            <li><span>Bed:</span>King-sized Bed</li>
                            <li><span>Other:</span>One guest room</li>
                            <li><span>Services:</span>Wifi, Television, Bathroom,...</li>
                        </ul>
                  
                    </div>
                </div>
                <div class="col-lg-6 p-0 order-lg-9 order-md-9 col-md-6">
                    <div class="room__pic__slider owl-carousel">
                        <div class="room__pic__item set-bg" data-setbg="static/blogapp/img/rooms/room-4.jpg"></div>
                        <div class="room__pic__item set-bg" data-setbg="static/blogapp/img/rooms/room-1.jpg"></div>
                        <div class="room__pic__item set-bg" data-setbg="static/blogapp/img/rooms/room-2.jpg"></div>
                        <div class="room__pic__item set-bg" data-setbg="static/blogapp/img/rooms/room-3.jpg"></div>
                    </div>
                </div>
            </div>


                
            
    </section>
    <!-- Rooms Section End -->
</body>
{% endblock %}
</html>

